---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Social from '../components/Social.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<style>
	h2 {
		color: #555;
	}
	a {
		text-decoration: none;
		color: #007bff;
	}
	a:hover {
		text-decoration: underline;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	li {
		background: #fff;
		margin: 5px 0;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
        <slot />
		<Social />
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>